
NEXT_PUBLIC_SUPABASE_URL=https://wdlykwzyfkputmqbvrjd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndkbHlrd3p5ZmtwdXRtcWJ2cmpkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcwMDE3NTEsImV4cCI6MjA3MjU3Nzc1MX0.y3kWMrShXYczrlj0NiilTquirPJN0C_NDrXZwC4oknY
